@font-face {
	font-family: 'Riposte';
	src: url('~assets/fonts/Riposte-Light.woff2') format('woff2'), url('~assets/fonts/Riposte-Light.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Riposte';
	src: url('~assets/fonts/Riposte-Regular.woff2') format('woff2'), url('~assets/fonts/Riposte-Regular.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Riposte';
	src: url('~assets/fonts/Riposte-Medium.woff2') format('woff2'), url('~assets/fonts/Riposte-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Riposte';
	src: url('~assets/fonts/Riposte-Bold.woff2') format('woff2'), url('~assets/fonts/Riposte-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Riposte';
	src: url('~assets/fonts/Riposte-ExtraBold.woff2') format('woff2'), url('~assets/fonts/Riposte-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
