html {
	// scroll-behavior: smooth;
}

body{
	font-family: $font-riposte;
	font-weight: 200;
	font-size: 0.9375rem;
	color: $color-charcoal;
}

strong {
	font-weight: 300;
}

[v-cloak] {display: none}

.fullpage-wrapper {
	background: white;

	&.is-fixed {
		transform: unset !important;
	}
}

.section {
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell,
.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
    height: auto !important;
}

.fp-scrollable {
	overflow: hidden;
	position: relative;
}
.fp-scroller {
	overflow: hidden;
}
.iScrollIndicator {
	border: 0 !important;
}


