.Projects {
	background: $color-charcoal;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	main{
		margin: 15vh 10vw 0vh 10vw;
		height: 85vh;

		font-family: 'Riposte';
		font-size: 6.25rem;
		font-weight: 200;
	}

}
