.Projects {
	background: $color-charcoal;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	main{
		margin: 15vh 10vw 0vh 10vw;
		height: 85vh;

		font-family: 'Riposte';
		font-size: 100px;
		font-weight: 200;

		.type{
			font-size: 12px;
			text-transform: capitalize;
			font-weight: 200;
			letter-spacing: 0px;
		}

		.link{
			letter-spacing: -3px;
			color: white;

		}
		
		.locked{
			opacity: 0.2;
		}
	}

}
