$margins: 0 5 10 15 20 30 50;

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-ml-auto {
	margin-left: auto;
}


@each $margin in $margins {
	.u-mb-#{$margin}{
		$remSize: $margin / 16;
		margin-bottom: #{$remSize}rem !important;
	}
}


@media (max-width: $screen-lg) {
	@each $margin in $margins {
		.u-mb-#{$margin}--lg {
			$remSize: $margin / 16;
			margin-bottom: #{$remSize}rem !important;
		}
	}
}

@media (max-width: $screen-md) {
	@each $margin in $margins {
		.u-mb-#{$margin}--md {
			$remSize: $margin / 16;
			margin-bottom: #{$remSize}rem !important;
		}
	}
}

@media (max-width: $screen-sm) {
	@each $margin in $margins {
		.u-mb-#{$margin}--sm {
			$remSize: $margin / 16;
			margin-bottom: #{$remSize}rem !important;
		}
	}
}

@media (max-width: $screen-xs) {
	@each $margin in $margins {
		.u-mb-#{$margin}--xs {
			$remSize: $margin / 16;
			margin-bottom: #{$remSize}rem !important;
		}
	}
}
