$margins: 0 5 10 15 20 30 50;

.u-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.u-mr-auto {
	margin-right: auto;
}

.u-ml-auto {
	margin-left: auto;
}

@each $margin in $margins {
	.u-mb-#{$margin}{
		$remSize: $margin / 16;
		margin-bottom: #{$remSize}rem !important;
	}
}

@each $size, $breakpoint in $screens {
	@media #{$breakpoint} {
		@each $margin in $margins {
			.u-mb-#{$margin}--#{$size}{
				$remSize: $margin / 16;
				margin-bottom: #{$remSize}rem !important;
			}
		}
	}
}
