.u-textCenter {
	text-align: center;
}

.u-textUppercase {
	text-transform: uppercase;
}

.u-textCapitalize:first-letter {
	text-transform: uppercase;
}

.u-textItalic {
	font-style: italic;
}

.u-textCurrentColor {
	color: currentColor !important;
}

.u-textUnderlined {
	text-decoration: underline;
}
